.section {
  position: relative;
  width: 100%;
  min-width: 390px;
  height: 60rem;
  background-color: var(--W-activation);
}

.banner {
  max-width: 1190px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.banner > div {
  z-index: 100;
}

.banner_title {
  font-size: 4rem;
  margin-bottom: 1.2rem;
}
.banner_title span {
  color: var(--W-primary);
}
.banner_intro {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}

.banner_img {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1024px) {
  .section {
    height: 44rem;
  }
  .banner {
    flex-direction: column;
    text-align: center;
    padding-top: 5.2rem;
  }
  .banner_title {
    font-size: 2.4rem;
  }
  .banner_intro {
    font-size: 1.6rem;
    word-wrap: keep-all;
  }
  .banner_img {
    max-width: 35rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
