/* --------------------------------공통 */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  padding: 10rem 0;
  width: 100%;
}

.main > .section:nth-of-type(2) {
  background-color: var(--W-grayLv1);
  flex-direction: row;
}

.section > div {
  max-width: 1190px;
  display: flex;
  margin: 0 auto;
  gap: 8.2rem;
}

.h2_section {
  display: inline-block;
  padding: 1rem 2rem;
  margin-bottom: 2.4rem;
  border-radius: 4rem;
  border: 1px solid var(--W-primary);
  color: var(--W-primary);
}

.title_section {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
}
.center {
  text-align: center;
}
/* --------------------------------사용대상 */
.target_description {
  font-size: 1.8rem;
  color: var(--W-grayLv4);
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  margin-bottom: 1.6rem;
}

.target_ul {
  display: flex;
  gap: 2.6rem;
  margin-top: 6rem;
  max-width: 1190px;
}
.target_li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.target_li img {
  width: 20rem;
  height: auto;
}
.target_li_title {
  margin-bottom: 1.6rem;
  font-weight: 700;
  line-height: 3.2rem;
  font-size: 2.4rem;
}

.target_li span {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: var(--W-grayLv4);
}

/* ------------------------사용방법 */
.guide_img {
  width: 52rem;
  flex-shrink: 0;
  margin: 0 auto;
  min-width: 342px;
  object-fit: contain;
}

.guide_title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;
  margin: 2rem 0;
}
.guide_description {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  margin-bottom: 4rem;
}

.guide_ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.guide_li {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
}
.guide_li::before {
  content: url("../../assets/CheckList.svg");
  width: 2.1rem;
  height: 2.1rem;
  margin-right: 1.6rem;
  vertical-align: text-top;
}
.guide_li span {
  color: var(--W-primary);
  text-decoration: underline;
}

/* --------------------------------제공기능 */
.func_ul {
  display: flex;
  justify-content: center;
  max-width: 1190px;
  gap: 2.6rem;
  margin-top: 6rem;
}

.func_li {
  max-width: 278px;
  flex: 1;
}
.func_li div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 28rem;
  border-radius: 3rem;
  background-color: var(--W-grayLv1);
}
.func_li span {
  display: block;
  margin: 2rem 0 1.6rem 0;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--W-surface);
}
.func_li p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: var(--W-grayLv4);
}

/* api_info */

.api_info {
  background-color: var(--W-primary);
  padding: 8rem 0;
  margin: 0 auto;
  text-align: center;
}

.api_info p {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: var(--W-background);
  margin-bottom: 2.4rem;
}

@media screen and (max-width: 1024px) {
  .section {
    min-width: calc(100% - 4.6rem);
    padding: 5.2rem 0;
  }
  .title_section {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
  }

  /* 사용대상 */
  .target_description {
    font-size: 1.6rem;
  }
  .title_section {
    font-size: 2.4rem;
  }
  .target_ul {
    flex-direction: column;
    gap: 3.2rem;
    margin: 0;
    padding: 0 3.2rem;
  }

  /* 사용방법 */

  .section_guide {
    flex-direction: column;
    padding: 0 2.4rem;
  }
  .section > div {
    gap: 3.2rem;
  }
  .guide_title {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .guide_li {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
  }

  /* 제공기능 */
  .func_ul {
    flex-direction: column;
    margin-top: 4rem;
  }
  /* api_info */
  .api_info p {
    font-size: 1.8rem;
  }
}
