header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 7rem;
  background-color: var(--W-background);

  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  max-width: 1190px;
}

.logo {
  width: 24.2rem;
}

.header_nav,
.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
  color: var(--W-surface);
  font-size: 1.6rem;
  font-weight: 500;
}
.nav_list > li:active {
  color: var(--W-Primary);
}
.lang_btn {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/icon-world.svg") 50% 50% / 28px 28px no-repeat;
}

.lang_btn::before {
  content: "";
  width: 100%;
  height: 100%;
}

.lang_btn:hover {
  background-color: var(--W-activation);
}

.lang_btn.active {
  background-color: var(--W-activation);
  background-image: url("../../assets/icon-active-world.svg");
}
