.snsBtnlist {
  display: inline-flex;
  gap: 0.8rem;
  margin-top: 1.2rem;
}
.snsBtn {
  background: none;
  border: 1px solid var(--W-grayLv2);
  border-radius: 0.8rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
